@import './node_modules/reset-css/sass/reset';
@import './node_modules/include-media/dist/include-media';
@import "variables";
@import "fonts";
@import "typography";
@import "elements/all";
@import "breakpoints";
@import "helpers/icons";
@import "helpers/clearFloat";
@import "helpers/hover";
@import "components/all";

html{
    margin: 0;
    padding: 0;
}

body{
    color: $main-text-color;
    @include RubikRegular;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}